<div class="conteiner">
  <table class="table mt-4">
    <thead>
      <tr>
        <th>№ замовлення</th>
        <th>Дата та час</th>
        <th>Адреса</th>
        <th>Сума</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of userOrder">
        <td>{{ order.id }}</td>

        <td>{{ order.data }}</td>
        <div class="tovarname">
          <td>{{ order.adress }}</td>
          <td *ngFor="let product of order.products" class="count">
            {{ product.tovarname }}

            <p>{{ product.count }}</p>
          </td>
        </div>

        <td>{{ order.suma }}</td>

        <td class="status">
          <li>{{ order.status }}</li>
        </td>
      </tr>
    </tbody>
  </table>
</div>
