.primary {
  width: 200px;
  height: 50px;
  background: #b5d8f7;
  border: 2px solid #b5d8f7;
  color: black;
}
.primary:hover {
  background: none;
}
.block-price {
  width: 100%;
  height: 100%;
  background: #b5d8f7;
}
.order {
  width: 200px;
  height: 50px;
  background: #e4e4e4;
  margin-left: 200px;
}
