
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">

            <div class=" mx-auto mb-3" style="max-width: 700px;">
                <div class="row g-1">
                 
                 
                
                  <div class="col-md-10">
                    <div class="card">
                        <img [src]="currentAction.imagePath" class="img-fluid rounded-start" alt="currentTovary.name" >
                      <p class="card-text my-4"> {{currentAction.description}}</p>
                
            
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>


