<div class="conteiner">
  <h3 class="mt-4">Ми зателефонуємо</h3>
  <p>
    Залиште номер телефону і наші менеджери <br />
    зв‘яжуться з вами
  </p>

  <form>
    <div class="form-group mt-2">
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="*Ваше ім‘я" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <input matInput type="tel" placeholder="*Ваш номер телефону" />
      </mat-form-field>
    </div>

    <button mat-button mat-dialog-close class="btn primary mb-4" type="button">
      Надіслати
    </button>
  </form>
</div>
