.dialog-back {
  background-color: rgba(2, 2, 2, 0.89);
}
.auth-dialog {
  width: 500px;
  max-height: 100%;
  text-align: center;
}
.dialog-back-2 {
  background-color: rgba(2, 2, 2, 0.89);
  margin-top: 90px;
}
.auth-dialog-2 {
  width: 500px;
  height: 350px;
}
