
<div class="row ">
  <div class="col-4 m-auto card " style="width: 500px; height: 300px;">
    <h3 class="text-center">Вхід в кабінет адміністратора</h3>
  <form [formGroup]="authForm" (ngSubmit)="loginUser()" >
      <div class=" mx-4">
        <div class="mb-3">
          <label for="name" class="form-label"></label>
          <input formControlName="email" name="email" type="text" class="form-control " id="email" placeholder="*Ваш email">
          </div>
          <div class="mb-3">
          <label for="path" class="form-label"></label>
          <input formControlName="password" name="password" type="password" class="form-control  " id="password" placeholder="*Пароль">
          </div>
          <button  [disabled]="authForm.invalid"type="submit" class=" btn primary " >Увійти в кабінет</button>
          
        </div>
      
  </form>
</div>
</div>

