.row{
    margin: 50px 0 0 10px;
}

.number-block{
    width: 30px;
    height: 30px;
    background-color: #b5d8f7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.input-phone, .input-email{
    width: 377px;
  }
 
  .input-name{
    width: 180px;
  }
  .btn-addres {
    width: 177px;
    height: 40px;
    background: none;
    border: 2px solid #b5d8f7;
    color: black;
    border-radius: 5px;
   


  }
  .btn-addres:hover {
    background: rgb(181, 216, 247);
  }
  .btn-change{
    width: 177px;
    height: 40px;
    background-color: #b5d8f7;
    border-radius: 5px;
   
  }